<h1>ユーザー一覧</h1>
<div id="user-list" v-cloak>
  <!-- [ 一覧参照 ] -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">一覧</div>
    </div>
    <div class="panel-body">
      <list v-if="mounted"
            :info="info">
      </list>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'user_list' %>