<h1> 記事一覧</h1>
<div id="article-list" v-cloak>

  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="panel-title">検索</span>
    </div>
    <div class="panel-body">
      <!--機能: 検索 -->
      <search :query="query"
               @on-search="onSearch"
               @on-clear="onClear">
      </search>
    </div>
  </div>

  <!-- [ 一覧参照 ] -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="panel-title">({{count}}件)</span>
    </div>

    <div class="panel-body">
      <list v-if="mounted"
            :info="info">
      </list>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'article' %>
<%= stylesheet_pack_tag 'article' %>